# Data Cleaning

Data Cleaning step is formed by 9 steps/sections as follows;
1. <a href='#unnecessary_data_section'><b>Unnecessary Data</b></a>
2. <a href='#duplicate_data_section'><b>Duplicate Data</b></a>
3. <a href='#data_types_section'><b>Data Types</b></a>
4. <a href='#typo_section'><b>Typo</b></a>
5. <a href='#missing_data_section'><b>Missing Data</b></a>
6. <a href='#outlier_section'><b>Outlier</b></a>
7. <a href='#common_proper_terminology_section'><b>Common Proper Terminology</b></a>
8. <a href='#re_naming_section'><b>Re-Name</b></a>
9. <a href='#format_section'><b>Format</b></a>

---

## Data Read

In [1]:
# Import necessary libraries for data obtaining
import pandas as pd

In [2]:
raw_data = pd.read_excel('Online_Retail.xlsx')

---

<a id='unnecessary_data_section'></a>
## 1. Unnecessary Data

Unnecessary data in the dataset is checked and if there is any they are removed from the dataset in this section.

In [3]:
raw_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

There are 8 features in the dataset and some of them can be more useful than others.

<a id='duplicate_data_section'></a>
## 2. Duplicate Data

Duplicate data in the dataset is checked and if there is any they are removed from the dataset in this section.

In [4]:
# Duplicated data detection
raw_data[raw_data.duplicated(keep=False)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
485,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0,United Kingdom
489,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom
494,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
521,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,United Kingdom

In [5]:
dup_check = pd.DataFrame()
x = raw_data[raw_data.duplicated(keep=False)]
for i in range(0,len(x)):
    dup_check.loc[i, 'Merged_Data'] = str(x.iloc[i,0]) + str(x.iloc[i,1]) + str(x.iloc[i,2]) + str(x.iloc[i,3]) + str(x.iloc[i,4]) + str(x.iloc[i,5]) + str(x.iloc[i,6]) + str(x.iloc[i,7])

In [6]:
dup_check[dup_check.duplicated(keep=False)].iloc[0,0]

'53640922111SCOTTIE DOG HOT WATER BOTTLE12010-12-01 11:45:004.9517908.0United Kingdom'

In [7]:
raw_data[raw_data['CustomerID'] == 17908.0][raw_data[raw_data['CustomerID'] == 17908.0].duplicated(keep=False) == True]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
485,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0,United Kingdom
489,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom
494,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
521,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0,United Kingdom

As it can be seen above, there are duplicated rows and they are not removed. Because, there is no indication that these should be removed. It should be informed by the seller.

<a id='data_types_section'></a>
## 3. Data Types

Data types of the values in the dataset are checked and if there is an improper data type, then it is changed with the proper data type in this section.

In [8]:
raw_data.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [9]:
raw_data.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

Data types of the features seem compatible with the context. However, integer and float columns should be considered more for the negative value aspect (will be considered in the Outliers section). <br>

Also, object columns should be looked for incompatibility with the columns' feature context (will be considered in the Typo section)

<a id='typo_section'></a>
## 4. Typo

Dataset is checked if there is any typo and if there is some kind of typo, then it is corrected in this section.<br>
One of consideration is the columns that have an Object data type. Since, the Object data type values can have both numerical and non-numerical values.

In [10]:
# For guidance, data types of the suspicious columns can be controlled with .unique() function
# If there is inconsistency between data type of the column(s) and the unique values in the column(s), 
# then there is probably a problem

raw_data['InvoiceNo'].value_counts()

573585     1114
581219      749
581492      731
580729      721
558475      705
           ...
554023        1
554022        1
554021        1
554020        1
C558901       1
Name: InvoiceNo, Length: 25900, dtype: int64

It seems there is no typo in the Object columns.

<a id='missing_data_section'></a>
## 5. Missing Data

Missing data in the dataset is checked. There are two main ways to deal with the missing data: removing the entire row/column or filling it with the proper data. 

In the filling method, there are some applied methods such as the mean value of the feature can be used to fill the missing data in continuous case, and another way is using the most used(higher frequency) categorical value to fill the missing data.

In [11]:
raw_data.isna().value_counts()

InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  CustomerID  Country
False      False      False        False     False        False      False       False      406829
                                                                     True        False      133626
                      True         False     False        False      True        False        1454
dtype: int64

In [12]:
raw_data = raw_data[raw_data['CustomerID'].isna() == False].reset_index(drop=True)

All the missing values are removed from the dataset.

<a id='outlier_section'></a>
## 6. Outlier

Outliers in the dataset is checked and if reliability and validity of the dataset is effected by those outliers, then these outliers are removed from the dataset. <br>
In the Outliers concept, numerical columns will be considered with the column' s feature context. Therefore, negativity, positivity and neutrality properties will be considered as well as amount of the feature's numerical content.

In [ ]:
# Negativity check on the numerical columns
# Some negative values might be caused from the outliers in the dataset if the column is expected as positive numbers

In [13]:
raw_data[raw_data['Quantity'] < 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
406377,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
406461,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
406635,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
406636,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
406637,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [14]:
raw_data[raw_data['UnitPrice'] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [15]:
raw_data[raw_data['CustomerID'] < 0]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

There are negative values in the Quantity feature. It might be related with the online transactions. Therefore, they are not considered as negative values and they are not removed from the dataset.

<a id='common_proper_terminology_section'></a>
## 7. Common Proper Terminology

If there are different expressions that represent the same thing, then these different expressions are changed with only one common and proper expression. Thus, a common and proper terminology requirement in the dataset is satisfied.

In [16]:
# Check the data set in aspect of their unique values. If the unique some values refer to same thing, 
# then change them with a common proper terminology
raw_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

<a id='re_naming_section'></a>
## 8. Re-Name

There could be some removed rows and columns. Therefore, in order to keep integrity of the dataset, index and column numbers/names might need to change. Thus, re-indexing and column name arranging is made.

In [17]:
# There might be some dropped columns or indexes. Therefore, index numbers and/or column names must be rearranged.
raw_data.reset_index(drop=True, inplace=True)

In [18]:
raw_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
406824,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
406825,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
406826,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
406827,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
406828,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

<a id='format_section'></a>
## 9. Format

Data is cleaned so far. Hence, the dataset is stored with the proper file formatting in this section.

In [19]:
raw_data.to_csv('Cleaned_Data.csv', index=False)

---